/* App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.App {
  text-align: center;
}

.App-header {
  margin:10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* App content styles */
.App-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"],
input[type="password"],
button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="email"],
input[type="password"] {
  width: 300px;
}


.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20px; /* Add a margin top to create space */
}

.logout-btn button {
  background-color: #61dafb;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn button:hover {
  background-color: #47a7f5;
}
